<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Questa pagina è dedicata alla sezione chi siamo del sito GameHub dove è possibile trovare informazioni riguardo i suoi fondatori e i loro obiettivi">
        <meta name="keywords" content="videogiochi, giochi, obiettivi, fondatori, storia, GameHub, Matteo Squarzoni, Andrea Piola, Alessandro Damiani, Francesco Lapenna, chi siamo">
        <meta name="author" content="Matteo Squarzoni">    
        <link rel="stylesheet" href="style/style.css" media="screen">
        <link rel="stylesheet" href="style/mobile.css" media="screen and (max-width:768px)">
        <link rel="stylesheet" href="style/print.css" media="print">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
        <title>Chi siamo - GameHub</title>
    </head>
    <body>
        <div class="stickyScroll">
            <header>
                <div class="logoName">
                    <h1 id="logo"><span lang="en">GameHub</span></h1>
                </div>
                <nav aria-label = "aiuti alla navigazione" class="listHelp">
                        <a href="#chiSiamoMain" class="navHelper">Vai al contenuto</a>
                </nav>
                <nav id="menu" aria-label="menu di navigazione">
                    <ul class="menuList">
                        <li><a href="index.php"><span lang="en">Home</span></a></li>
                        <li><a href="catalogo.php">Catalogo</a></li>
                        <li><a href="abbonamenti.php">Abbonamenti</a></li>
                        <li id="currentMenu">Chi siamo</li>
                        [loginProfilo]
                    </ul>
                </nav>
                <a role="button" href="#hamburgerMobileMenu" id="mobileMenu" aria-label="apri menu">
                    <div>
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </div> 
                </a> 
            </header>
            <nav id="breadcumb" aria-label="percorso pagina">
                <p>Ti trovi in: Chi siamo</p>
            </nav>
        </div>
        <main id="chiSiamoMain" class="background">
            <div class="hero blur">
                <h1>Scopri chi siamo!</h1>
                <p>Qui puoi trovare di più sulla nostra storia e sui nostri <em>obiettivi</em>.</p>
            </div>
            <div class="chiSiamo">
                <div class="infoObiettivi">
                    <h2>I nostri obiettivi</h2>
                    <p>Il nostro <em>obiettivo</em> è quello di offrire ai nostri clienti la migliore esperienza di gioco possibile. 
                    Per questo motivo, lavoriamo costantemente per migliorare il nostro servizio e offrire i migliori <strong>giochi</strong> sul mercato. 
                    Siamo sempre alla ricerca di nuovi <strong>giochi</strong> da aggiungere al nostro catalogo e di nuove funzionalità da implementare sul nostro sito. 
                    Vogliamo che i nostri clienti si divertano e si sentano al sicuro quando acquistano da noi.</p>
                </div>
                <div class="infoFondatori">
                    <h2>I nostri fondatori e la loro storia</h2>
                    <p><strong lang="en">GameHub</strong> è stato fondato nel 2020 da <strong>Matteo Squarzoni</strong>, <strong>Andrea Piola</strong>, <strong>Alessandro Damiani</strong> e <strong>Francesco Lapenna</strong>. I nostri <strong>fondatori</strong> sono appassionati di <strong>videogiochi</strong> fin da bambini, 
                        per questo motivo hanno deciso di unire le loro forze al fine di creare un negozio <span lang="en">online</span> che offrisse una vasta gamma di <strong>giochi</strong> per tutte le piattaforme. 
                        Da allora, <strong lang="en">GameHub</strong> è cresciuto costantemente, diventando uno dei principali negozi di <strong>videogiochi</strong> <span lang="en">online</span> in Italia.</p>
                    <div class="containerCardFondatori">
                        <div class="cardFondatore">
                            <img src="assets/profile.png" alt="">
                            <h3>Matteo Squarzoni</h3>
                            <p>CEO</p>
                        </div>
                        <div class="cardFondatore">
                            <img src="assets/profile.png" alt="">
                            <h3>Andrea Piola</h3>
                            <p>CEO</p>
                        </div>
                        <div class="cardFondatore">
                            <img src="assets/profile.png" alt="">
                            <h3>Alessandro Damiani</h3>
                            <p>CEO</p>
                        </div>
                        <div class="cardFondatore">
                            <img src="assets/profile.png" alt="">
                            <h3>Francesco Lapenna</h3>
                            <p>CEO</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tornaSuButton">
                <a href="#chiSiamoMain" class="tornaSuHelper">Torna su</a>
            </div>
        </main>
        <nav id="hamburgerMobileMenu" aria-label="menu di navigazione mobile">
            <ul class="menuListMobile">
                <li><a href="index.php"><span lang="en">Home</span></a></li>
                <li><a href="catalogo.php">Catalogo</a></li>
                <li><a href="abbonamenti.php">Abbonamenti</a></li>
                <li id="currentMenuMobile">Chi siamo</li>
                [loginProfilo]
                <li><a href=#chiSiamoMain>Torna su</a></li>
            </ul>
        </nav>    
        <footer>
            <div class="footerContent">
                <div class="contactInfo">
                    <h4 class="footerHeader">Contattaci</h4>
                    <p><span class="fa-solid fa-envelope"></span> info@gamehub.it</p>
                    <p><span class="fa-solid fa-phone"></span> +39 123 456 7890</p>
                    <p><span class="fa-solid fa-location-dot"></span> Via Roma 123, Bologna</p>
                </div>
                <div class="socialLinks">
                    <h4 class="footerHeader">Seguici</h4>
                    <div class="socialIcons">
                        <a href="https://www.facebook.com/"><span class="fa-brands fa-facebook iconSize"></span> <span lang="en">Facebook</span></a>
                        <a href="https://x.com/"><span class="fa-brands fa-twitter iconSize"></span> <span lang="en">Twitter</span></a>
                        <a href="https://www.instagram.com/"><span class="fa-brands fa-instagram iconSize"></span> <span lang="en">Instagram</span></a>
                        <a href="https://www.youtube.com/"><span class="fa-brands fa-youtube iconSize"></span> <span lang="en">Youtube</span></a>
                    </div>
                </div>
            </div>
            <div class="footerBottom">
                <p><span lang="en">GameHub</span> &copy; 2025 - Tutti i diritti riservati</p>
            </div>
        </footer>
    </body>
</html>