<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Questa pagina è dedicata al profilo dell'utente di GameHub, dove potrà visualizzare le informazioni personali, l'abbonamento attuale e i giochi acquistati">
        <meta name="keywords" content="videogioco, acquisti, abbonamento, giochi, profilo, GameHub, account">
        <meta name="author" content="Matteo Squarzoni">    
        <link rel="stylesheet" href="style/style.css" media="screen">
        <link rel="stylesheet" href="style/mobile.css" media="screen and (max-width:768px)">
        <link rel="stylesheet" href="style/print.css" media="print">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
        <title>Profilo - GameHub</title>
    </head>
    <body>
        <div class="stickyScroll">
            <header>
                <div class="logoName">
                    <h1 id="logo">GameHub</h1>
                </div>
                <nav aria-label = "aiuti alla navigazione" class="listHelp">
                        <a href="#profileContent" class="navHelper">Vai al contenuto</a>
                </nav>
                <nav id="menu">
                    <ul class="menuList" aria-label="menu di navigazione">
                        <li><a href="index.php"><span lang="en">Home</span></a></li>
                        <li><a href="catalogo.php">Catalogo</a></li>
                        <li><a href="abbonamenti.php">Abbonamenti</a></li>
                        <li><a href="chiSiamo.php">Chi siamo</a></li>
                        [loginProfilo]
                    </ul>
                </nav>
                <a role="button" href="#hamburgerMobileMenu" id="mobileMenu" aria-label="apri menu">
                    <div>
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </div> 
                </a>
            </header>
            <nav id="breadcumb" aria-label="percorso pagina">
                <p>Ti trovi in: Profilo</p>
            </nav>
        </div>
        <main id="profileContent" class="background">
            <div class="profileContainer">
                <div class="profileBoxContainer">
                    <div class="profileBox">
                        <h2>Informazioni personali</h2>
                        <div class="infoContent">
                            <img src="assets/profileIcon.png" alt="" class="profilePicture">
                            <div class="userDetails">
                                <dl>
                                    <div class="userDetailsItem">
                                        <dt>Username:</dt>
                                        <dd>[Nome Utente]</dd>
                                    </div>
                                    <div class="userDetailsItem">
                                        <dt>Email:</dt>
                                        <dd>[Email]</dd>
                                    </div>
                                    <div class="userDetailsItem">
                                        <dt>Nome:</dt>
                                        <dd>[Nome]</dd>
                                    </div>
                                    <div class="userDetailsItem">
                                        <dt>Cognome:</dt>
                                        <dd>[Cognome]</dd>
                                    </div>
                                    <div class="userDetailsItem">
                                        <dt>Data di Nascita:</dt>
                                        <dd>[Data di Nascita]</dd>
                                    </div>
                                </dl>
                                <a role="button" class="buttonBoxProfile" href="profilo.php?logout=1">Disconnettiti</a>
                            </div>
                        </div>
                    </div>
                    <div class="profileBox">
                        <h2>Abbonamento attuale</h2>
                        <div class="subscriptionContent">
                            [immagine]
                            <dl>
                                <div class="subscriptionDetailsItem">
                                    <dt>Tipo <strong>abbonamento</strong>:</dt>
                                    <dd>[Nome Abbonamento]</dd>
                                </div>
                                <div class="subscriptionDetailsItem">
                                    <dt>Data iscrizione:</dt>
                                    <dd>[Data iscrizione]</dd>
                                </div>
                                <div class="subscriptionDetailsItem">
                                    <dt>Scadenza:</dt>
                                    <dd>[Data scadenza]</dd>
                                </div>
                            </dl>
                            [pulsante disdici]
                        </div>
                    </div>
                </div>    
                <div class="profileBox">
                    <h2>I tuoi giochi</h2>
                    <ul class="gamesList">
                        [lista Giochi]
                    </ul>
                </div>
            </div>
            <div class="tornaSuButton">
                <a href="#profileContent" class="tornaSuHelper">Torna su</a>
            </div>
        </main>
        <nav id="hamburgerMobileMenu" aria-label="menu di navigazione mobile">
            <ul class="menuListMobile">
                <li><a href="index.php"><span lang="en">Home</span></a></li>
                <li><a href="catalogo.php">Catalogo</a></li>
                <li><a href="abbonamenti.php">Abbonamenti</a></li>
                <li><a href="chiSiamo.php">Chi siamo</a></li>
                [loginProfilo]
                <li><a href=#profileContent>Torna su</a></li>
            </ul>
        </nav>    
        <footer>
            <div class="footerContent">
                <div class="contactInfo">
                    <h3 class="footerHeader">Contattaci</h3>
                    <p><span class="fa-solid fa-envelope"></span> info@gamehub.it</p>
                    <p><span class="fa-solid fa-phone"></span> +39 123 456 7890</p>
                    <p><span class="fa-solid fa-location-dot"></span> Via Roma 123, Bologna</p>
                </div>
                <div class="socialLinks">
                    <h3 class="footerHeader">Seguici</h3>
                    <div class="socialIcons">
                        <a href="https://www.facebook.com/"><span class="fa-brands fa-facebook iconSize"></span> <span lang="en">Facebook</span></a>
                        <a href="https://x.com/"><span class="fa-brands fa-twitter iconSize"></span> <span lang="en">Twitter</span></a>
                        <a href="https://www.instagram.com/"><span class="fa-brands fa-instagram iconSize"></span> <span lang="en">Instagram</span></a>
                        <a href="https://www.youtube.com/"><span class="fa-brands fa-youtube iconSize"></span> <span lang="en">Youtube</span></a>
                    </div>
                </div>
            </div>
            <div class="footerBottom">
                <p>GameHub &copy; 2024 - Tutti i diritti riservati</p>
            </div>
        </footer>
    </body>
</html>