<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Questa pagina è dedicata ad un gioco presente nel catalogo del sito GameHub">
        <meta name="keywords" content="videogioco, GameHub, negozio, dettagli, acquisto, gioco, videogame, [keywordsVideogioco]">
        <meta name="author" content="Alessandro Damiani">    
        <link rel="stylesheet" href="style/style.css" media="screen">
        <link rel="stylesheet" href="style/mobile.css" media="only screen and (max-width: 768px)">
        <link rel="stylesheet" href="style/print.css" media="print">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
        <title>[titoloPagina] - GameHub</title>
    </head>
    <body>
        <div class="stickyScroll">
            <header>
                <div class="logoName">
                    <h1 id="logo"><span lang="en">GameHub</span></h1>
                </div>
                <nav aria-label = "aiuti alla navigazione" class="listHelp">
                    <a href="#mainVideogioco" class="navHelper">Vai al contenuto</a>
                </nav>
                <nav id="menu">
                    <ul class="menuList" aria-label="menu principale">
                        <li><a href="index.php"><span lang="en">Home</span></a></li>
                        <li><a href="catalogo.php" id="currentMenu">Catalogo</a></li>
                        <li><a href="abbonamenti.php">Abbonamenti</a></li>
                        <li><a href="chiSiamo.php">Chi siamo</a></li>
                        [loginProfilo]
                    </ul>
                </nav>
                <a role="button" href="#hamburgerMobileMenu" id="mobileMenu" aria-label="apri menu">
                    <div>
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </div> 
                </a>
            </header>
            <nav id="breadcrumb" aria-label="percorso pagina">
                <p>Ti trovi in: <span lang="en">Home</span> &rightarrow; Catalogo &rightarrow; [videogioco]</p>
            </nav>
        </div>
        <main id="mainVideogioco">
            [paginaGioco]
            <div class="pulsantiTornaIndietro">
                <div class="tornaACatalogo">
                    <a href="catalogo.php">Torna al catalogo</a>
                </div>
                <div class="tornaSuButton">
                    <a href="#mainVideogioco" class="tornaSuHelper">Torna su</a>
                </div>
            </div>
        </main>
        <nav id="hamburgerMobileMenu" aria-label="menu di navigazione mobile">
            <ul class="menuListMobile">
                <li><a href="index.php"><span lang="en">Home</span></a></li>
                <li><a href="catalogo.php" id="currentMenuMobile">Catalogo</a></li>
                <li><a href="abbonamenti.php">Abbonamenti</a></li>
                <li><a href="chiSiamo.php">Chi siamo</a></li>
                [loginProfilo]
                <li><a href=#mainVideogioco>Torna su</a></li>
            </ul>
        </nav>   
        <footer>
            <div class="footerContent">
                <div class="contactInfo">
                    <h3 class="footerHeader">Contattaci</h3>
                    <p><span class="fa-solid fa-envelope"></span> info@gamehub.it</p>
                    <p><span class="fa-solid fa-phone"></span> +39 123 456 7890</p>
                    <p><span class="fa-solid fa-location-dot"></span> Via Roma 123, Bologna</p>
                </div>
                <div class="socialLinks">
                    <h3 class="footerHeader">Seguici</h3>
                    <div class="socialIcons">
                        <a href="https://www.facebook.com/"><span class="fa-brands fa-facebook iconSize"></span> <span lang="en">Facebook</span></a>
                        <a href="https://x.com/"><span class="fa-brands fa-twitter iconSize"></span> <span lang="en">Twitter</span></a>
                        <a href="https://www.instagram.com/"><span class="fa-brands fa-instagram iconSize"></span> <span lang="en">Instagram</span></a>
                        <a href="https://www.youtube.com/"><span class="fa-brands fa-youtube iconSize"></span> <span lang="en">Youtube</span></a>
                    </div>
                </div>
            </div>
            <div class="footerBottom">
                <p><span lang="en">GameHub</span> &copy; 2025 - Tutti i diritti riservati</p>
            </div>
        </footer>
    </body>
</html>