#mobileMenu{
    display: block;
}


header .menuList{
    display: none;
}

header #profile{
    display: none;
}

.videogames img{
    display: none;
}

.abbonamenti img{
    display: none;
}


.menuListMobile{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style: none;
    height: calc(100vh - 6em);
}

.menuListMobile li{
    padding: 1.5em;
    border-bottom: 1px solid #333;
}

.menuListMobile li:last-child{
    margin-bottom: 4em;
    border-bottom: none;
    align-self: flex-end;
}


.menuListMobile li:last-child a{
    background-image: url('../assets/arrow_up.png');
    background-size: 1em;
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
    padding-right: 1.8em;
    display: inline-flex;
    align-items: center;
}

.menuListMobile a{
    color: #c8c4c4;
    text-decoration: none;
    text-transform: uppercase;
}

#currentMenuMobile{
    font-weight: bold;
    color: var(--txtcolor);
    text-transform: uppercase;
    font-style: italic;
}

.socialIcons {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

/* ========================
      PAGINA HOME
=========================== */
.hero h1 {
    font-size: 1.9em;
    line-height: 1.5em;
}

.hero p {
    font-size: 1.1em;
    line-height: 1.5em;
}

/* ========================
      PAGINA ABBONAMENTI
=========================== */


.abbonamentiAbb{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 2.3em;
    padding: 2em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 4em;
    max-width: 100%;
    margin-left: 0em;
    margin-right: 0em;
}
.targhettaAbb{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    align-items: center;
    text-align: center;
    color: black;
    max-width: 100%;
    padding: 2.5em 1.5em 2.5em 1.5em;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}


/* ============================
        PAGINA CHI SIAMO       
============================ */

.containerCardFondatori{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.cardFondatore{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 0.5em;
    padding: 1em;
    background-color: var(--homeboxcolor);
    color: var(--contenttxtcolor);
}

/* ============================
        PAGINA VIDEOGIOCO
============================ */

.pannelloVideogioco {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center; 
    box-sizing: border-box; 
    width: 100%;
    height: 50vh;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 10px;   
}
.copertinaVideogioco{
    width: 65%;
    height: auto;
    border-radius: 20px;
    
}
.pannelloVideogioco h1{
    font-size: 2em;
    max-width: 100%;
}
.videogiocoPegiEAcquisto{
    gap: 1em;
    padding-left: 1em;
    padding-right: 1em;
}
.boxDescrizioneECategorie{
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    padding-right: 1em;
}
.boxDescrizioneEInfo{
    width: auto;
    padding: 1em;
}
.boxCategorie{
    padding: 1em;
}
.infoVideogioco{
    padding: 0em;
    gap: 1em;
}
.search-section{
    margin: 1em 2em 0em 2em;
}
#searchForm input[type="text"]{
    width: 10em;
}

/* ============================
        PAGINA PROFILO
============================ */
.profileBoxContainer{
    word-break: break-word;
}

.profileBoxContainer{
    display: flex;
    flex-direction: column;
    gap: 2.5em;
}

.gameThumbnail {
    width: 60px;
    height: 60px;
}

.profilePicture {
    border-radius: 50%;
    margin-top: 1em;
    width: 90px;
    height: 90px;
}

.subscriptionContent dl{
    margin-top: 0em;
    margin-bottom: 0em;
}

.userDetailsItem {
    flex-direction: column;
}

.subscriptionDetailsItem{
    flex-direction: column;
}

.gameItem h3 {
    font-size: 1.1em;
}

.purchaseDate {
    font-size: 0.8em;
}

.gamesList {
    margin: 1em 0.5em;
}
/* ============================
        PAGINE ERRORE
============================ */

.error-container {
    flex-direction: column-reverse;
}

.error-img {
    max-width: 90%;
}

/* ============================
    PAGINA ACQUISTO COMPLETATO
============================ */

.ac-container {
    flex-direction: column-reverse;
}

.ac-img {
    max-width: 90%;
}

/* ============================
        DASHBOARD ADMIN
============================ */

.formRiga{
    display: flex;
    flex-direction: column;
    gap: 0em;
    padding: 0em;
}

@media screen and (max-width: 1200px){
    .divForm form{
        width: 90%;
    }
}

#rimozione-gioco div.formCampo{
    width: 80%;
}

.divForm form{
    width: 90%;
}