<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Questa pagina è dedicata alla schermata di registrazione di un nuovo utente sul sito GameHub">
        <meta name="keywords" content="registrazione, videogiochi, giochi, GameHub, account, profilo">
        <meta name="author" content="Andrea Piola">    
        <link rel="stylesheet" href="style/style.css" media="screen">
        <link rel="stylesheet" href="style/mobile.css" media="screen and (max-width:768px)">
        <link rel="stylesheet" href="style/print.css" media="print">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
        <script src="script/script.js"></script>
        <title>Registrazione - GameHub</title>
    </head>
    <body onload="caricamento('registrazione');">
        <div class="stickyScroll">
            <header>
                <div class="logoName">
                    <h1 id="logo"><span lang="en">GameHub</span></h1>
                </div>
                <nav aria-label = "aiuti alla navigazione" class="listHelp">
                        <a href="#mainRegistrazione" class="navHelper">Vai al contenuto</a>
                </nav>
                <nav id="menu">
                    <ul class="menuList" aria-label="menu di navigazione">
                        <li><a href="index.php"><span lang="en">Home</span></a></li>
                        <li><a href="catalogo.php">Catalogo</a></li>
                        <li><a href="abbonamenti.php">Abbonamenti</a></li>
                        <li><a href="chiSiamo.php">Chi siamo</a></li>
                        <li><a href="login.php" id="currentMenu">Accedi</a></li>
                    </ul>
                </nav>
                <a role="button" href="#hamburgerMobileMenu" id="mobileMenu" aria-label="apri menu">
                    <div>
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </div> 
                </a>
            </header>
            <nav id="breadcrumb" aria-label="percorso pagina">
                <p>Ti trovi in: <span lang="en">Home</span> &rightarrow; Accedi &rightarrow; Registrazione</p>
            </nav>
        </div>
        <main id="mainRegistrazione" class="background">
            <div class="tornaAdAccedi">
                <p>Se hai già un <span lang="en">account</span>, vai alla pagina <a href="login.php">accedi</a> per effettuare l'accesso.</p>
            </div>
            <div class="loginRegistrazione">
                [messaggiForm]
                <h1>Registrati</h1>
                <form class="formLoginRegistrazione" method="post" action="registrazione.php" onsubmit="return validazioneForm('registrazione');">
                    <div>
                        <label class="labelForm" for="nome">Nome</label>
                        [erroreNome]
                        <input class="inputForm" type="text" placeholder="Inserisci il tuo nome" name="nome" id="nome" required>
                    </div>

                    <div>
                        <label class="labelForm" for="cognome">Cognome</label>
                        [erroreCognome]
                        <input class="inputForm" type="text" placeholder="Inserisci il tuo cognome" name="cognome" id="cognome" required>
                    </div>

                    <div>
                        <label class="labelForm" for="dataNascita">Data di nascita</label>
                        [erroreDataNascita]
                        <input class="inputForm" type="date" name="dataNascita" id="dataNascita" required>
                    </div>

                    <div>
                        <label class="labelForm" for="email" lang="en">Email</label>
                        [erroreEmail]
                        <input class="inputForm" type="text" placeholder="Inserisci la tua email" name="email" id="email" required>
                    </div>

                    <div>
                        <label class="labelForm" for="username" lang="en">Username</label>
                        [erroreUsername]
                        <input class="inputForm" type="text" placeholder="Inserisci lo username" name="username" id="username" required>
                    </div>

                    <div>
                        <label class="labelForm" for="password" lang="en">Password</label>
                        [errorePassword]
                        <input class="inputForm" type="password" placeholder="Inserisci la password" name="password" id="password" required>
                    </div>
                    <button class="buttonForm" type="submit" name="registrati" id="registrati">Registrati</button>
                </form>                
            </div>
        </main>
        <nav id="hamburgerMobileMenu" aria-label="menu di navigazione mobile">
            <ul class="menuListMobile">
                <li><a href="index.php"><span lang="en">Home</span></a></li>
                <li><a href="catalogo.php">Catalogo</a></li>
                <li><a href="abbonamenti.php">Abbonamenti</a></li>
                <li><a href="chiSiamo.php">Chi siamo</a></li>
                <li><a href="login.php" id="currentMenuMobile">Accedi</a></li>
                <li><a href=#mainRegistrazione>Torna su</a></li>
            </ul>
        </nav>    
        <footer>
            <div class="footerContent">
                <div class="contactInfo">
                    <h2 class="footerHeader">Contattaci</h2>
                    <p><span class="fa-solid fa-envelope"></span> info@gamehub.it</p>
                    <p><span class="fa-solid fa-phone"></span> +39 123 456 7890</p>
                    <p><span class="fa-solid fa-location-dot"></span> Via Roma 123, Bologna</p>
                </div>
                <div class="socialLinks">
                    <h2 class="footerHeader">Seguici</h2>
                    <div class="socialIcons">
                        <a href="https://www.facebook.com/"><span class="fa-brands fa-facebook iconSize"></span> <span lang="en">Facebook</span></a>
                        <a href="https://x.com/"><span class="fa-brands fa-twitter iconSize"></span> <span lang="en">Twitter</span></a>
                        <a href="https://www.instagram.com/"><span class="fa-brands fa-instagram iconSize"></span> <span lang="en">Instagram</span></a>
                        <a href="https://www.youtube.com/"><span class="fa-brands fa-youtube iconSize"></span> <span lang="en">Youtube</span></a>
                    </div>
                </div>
            </div>
            <div class="footerBottom">
                <p><span lang="en">GameHub</span> &copy; 2025 - Tutti i diritti riservati</p>
            </div>
        </footer>
    </body>
</html>